





























.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;


  }
  .toto{
    border: 2px solid #ffffff;
  }
.card:hover {
    box-shadow: 7px 5px 8px 0 rgba(97, 96, 96, 0.65), 0 2px 6px 0 rgb(206 206 238 / 54%),
               7px 5px 5px 5px rgba(160, 160, 160, 0.65), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
  .me-2 {
    margin-right: .5rem !important;
  }

  .map-wrapper {
    position: relative;
    height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
  }

  .map-border {
    border: 5px solid #0da323;
    height: 100%;
  }

  #map {
    height: 100%;
  }

  input:disabled {
    border: 0;
    outline: 0;
    background: #F4F6F7;
  }

  input:focus {
    outline: 0;
    border: 0;
  }
